<div class="container" align="center">
    <header class="d-flex align-items-center justify-content-center py-5">
        <img src="../../../../../assets/img/logo_esg_adventure2.png" alt="" class="logo">
    </header>
    <main class="text-center row align-items-center justify-content-center">
        <mat-card class="px-5 py-5 col-md-6">
            <h2>Login</h2>
            <form [formGroup]="form" class="mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field  appearance="outline">
                            <mat-label>E-mail</mat-label>
                            <input formControlName="email" matInput placeholder="E-mail">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input formControlName="senha" matInput placeholder="Senha">
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <button mat-raised-button class="main-list-button" 
                [class.spinner]="loading" [disabled]="loading"
                style="background-color: #966ce7; color: #ffff;" (click)="entrar()">Entrar</button>
        </mat-card>
    </main>

</div>