.card-main{
    padding: 20px;
    border-radius: 20px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 20px;
    }
    mat-card-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.card-avatar{
    
}
